.ContextMenuBase{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

tr{
    display: flex;
    flex-direction: column;
}

td{
    color: var(--white-offset);
    font-size: 12.5px;
}

.LeftDiv{
    margin-left: 0px;
    margin-right: 5px;
    width: 325px;
}
.CenterDiv{
    margin-left: 5px;
    margin-right: 5px;
    width: 325px;
}
.RightDiv{
    margin-left: 5px;
    margin-right: 0px;
    width: 325px;

}

a{
    color: var(--theme);
}