.RearrangeButtonsBase{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.RearrangeButton{
    border: 1.5px solid var(--edge);
    background-color: var(--dark-transparent);
    color: var(--white-offset);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.25s ease;
    box-shadow: 0px 2.5px 5px var(--dark-transparent);
}
.RearrangeButton:hover {
    cursor: pointer;
    color: var(--theme);
    transition: all 0.25s ease;
}
.RearrangeButton:active{
    color: var(--white-offset);
    transition: all 0.25s ease;
}

.OutOfRangeButton{
    border: 1.5px solid var(--edge);
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}