:root {
  --theme: rgb(200, 70, 70);
  --complementary: rgb(105, 95, 185);
  --dark: rgb(33,30,36);
  --dark-transparent: rgb(33,30,36,0.5);
  --edge: rgb(60,57,63);
  --void: rgb(26, 24, 28);
  --white: rgb(210, 200, 200);
  --white-offset: rgb(245, 190, 175);
  --theme-font: 'Ewert', cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--void);
}